<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create To-Do Over Task</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'to_do_overs_app/style.css' %}">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
<h1 id="htdo-title">Habitica To-Do Overs</h1>

    <h5>Create a new To-Do Over task.</h5>

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

<form action="{% url 'to_do_overs_app:create_task_action' %}" method="post">
    {% csrf_token %}

    {{ form.as_p }}

    When you complete your task, it will automatically be re-created.<br />
    You can assign a number of days allotted to complete the task above. This will give your task a due date in Habitica.
    Alternatively, you can enter '0' in that field in order to have no due date on your task.<br />
    Your task's first due date will be today plus the number of days allotted specified above. <br /> <br />
    You can also delay the re-creation of your task after completion by the "number of days to delay" above. <br />
    Enter a delay of '0' to have your task be created the day after you complete it. <br /> <br />
    <input class="button-primary" type="submit" value="Make Task">
</form>
<a href="{% url 'to_do_overs_app:dashboard' %}">Nevermind, go back.</a>
<br /><br />
<a href="{% url 'to_do_overs_app:logout' %}">Log Out</a>
</div>
</body>
<footer></footer>
</html>
