<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete To-Do Over Task</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'to_do_overs_app/style.css' %}">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
<h1 id="htdo-title">Habitica To-Do Overs</h1>

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

Are you sure you want to delete this task?<br /><br />

{% if task %}
    <table class="u-full-width">
        <thead>
            <tr>
                <th>Task</th>
                <th>Days</th>
                <th>Difficulty</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.days }}</td>
                <td>{{ task.get_priority_display }}</td>
            </tr>
        </tbody>
    </table>
    <br/>

    <a href="{% url 'to_do_overs_app:delete_task_confirm' task.pk %}">Yes, delete!</a><br />
    <a href="{% url 'to_do_overs_app:dashboard' %}">No, take me back.</a>

    <br /><br />
    If your task is still active on Habitica, it will stay there. This only deletes the tool's copy.
    <br/>You'll need to also delete it on the Habitica app/site, if you wish.
    <br /><br />
{% endif %}

<a href="{% url 'to_do_overs_app:logout' %}">Log Out</a>
</div>
</body>
<footer></footer>
</html>
