<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Habitica ToDoOver Dashboard</title>
</head>
<body>

<h1>Habitica To-Do-Overs</h1>

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

Hello {{ username }}!<br />

Create a new To Do Over task <a href="{% url 'to_do_overs:create_task' %}">here</a>.

</body>
<footer><a href="{% url 'to_do_overs:logout' %}">Log Out</a></footer>
</html>
