<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Habitica To-Do-Overs</h1>

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

<h2>Login using Habitica email and password</h2>
<form action="{% url 'to_do_overs:login' %}" method="post">
    {% csrf_token %}
    Username: <input type="text" name="username"><br />
    Password: <input type="password" name="password"><br />
    <input type="submit" value="Login">
</form>

<h2>Login using Habitica user ID and API token</h2>
<form action="{% url 'to_do_overs:login_api_key' %}" method="post">
    {% csrf_token %}
    User ID: <input type="text" name="user_id"><br />
    API Token: <input type="password" name="api_token"><br />
    <input type="submit" value="Login">
</form>

<br />
<br />
<b>Privacy info: </b>Your password is never stored. Your API token is encrypted before being stored.
Your info will not be shared from this site, other than with Habitica directly.

</body>
</html>
